pipeline/PL_Ecommerce_Incremental_Load_And_Transformation.json
{
	"name": "PL_Ecommerce_Incremental_Load_And_Transformation",
	"properties": {
		"activities": [
			{
				"name": "WEB_Get_SQL_Username",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://capstone4keyvault.vault.azure.net/secrets/sql-username?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "WEB_Get_SQL_Server",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://capstone4keyvault.vault.azure.net/secrets/sql-server?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "WEB_Get_SQL_Database",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://capstone4keyvault.vault.azure.net/secrets/sql-database?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SET_SQL_USERNAME",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WEB_Get_SQL_Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_sql_username",
					"value": "@activity('WEB_Get_SQL_Username').output.value"
				}
			},
			{
				"name": "Set_SQL_Server",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WEB_Get_SQL_Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_sql_server",
					"value": "@activity('WEB_Get_SQL_Server').output.value"
				}
			},
			{
				"name": "Set_SQL_Database",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WEB_Get_SQL_Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_sql_database",
					"value": "@activity('WEB_Get_SQL_Database').output.value"
				}
			}
		],
		"parameters": {
			"p_source_schema": {
				"type": "string",
				"defaultValue": "0"
			},
			"p_watermark_column": {
				"type": "string",
				"defaultValue": "0"
			},
			"p_storage_account": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"v_sql_username": {
				"type": "String",
				"defaultValue": "0"
			},
			"v_sql_server": {
				"type": "String",
				"defaultValue": "0"
			},
			"v_sql_database": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}