pipeline/PL_Ecommerce_Incremental_Load_And_Transformation.json
{
	"name": "PL_Ecommerce_Incremental_Load_And_Transformation",
	"properties": {
		"activities": [
			{
				"name": "WEB_Get_SQL_Username",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://capstone4keyvault.vault.azure.net/secrets/sql-username?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "WEB_Get_SQL_Server",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://capstone4keyvault.vault.azure.net/secrets/sql-server?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "WEB_Get_SQL_Database",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://capstone4keyvault.vault.azure.net/secrets/sql-database?api-version=7.4",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SET_SQL_USERNAME",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WEB_Get_SQL_Username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_sql_username",
					"value": "@activity('WEB_Get_SQL_Username').output.value"
				}
			},
			{
				"name": "Set_SQL_Server",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WEB_Get_SQL_Server",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_sql_server",
					"value": "@activity('WEB_Get_SQL_Server').output.value"
				}
			},
			{
				"name": "Set_SQL_Database",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WEB_Get_SQL_Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_sql_database",
					"value": "@activity('WEB_Get_SQL_Database').output.value"
				}
			},
			{
				"name": "LKP_Old_Watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_SQL_USERNAME",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_SQL_Server",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_SQL_Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_load_value\nFROM watermark_table\nWHERE source_table_name='orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "watermark_table"
						}
					}
				}
			},
			{
				"name": "LKP_New_Watermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Old_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(last_updated) AS new_watermark\nFROM orders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "watermark_table"
						}
					}
				}
			},
			{
				"name": "IF_New_Data",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\nticks(activity('LKP_New_Watermark').output.firstRow.new_watermark),\nticks(activity('LKP_Old_Watermark').output.firstRow.last_load_value)\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_source_schema": {
				"type": "string",
				"defaultValue": "0"
			},
			"p_watermark_column": {
				"type": "string",
				"defaultValue": "0"
			},
			"p_storage_account": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"v_sql_username": {
				"type": "String",
				"defaultValue": "0"
			},
			"v_sql_server": {
				"type": "String",
				"defaultValue": "0"
			},
			"v_sql_database": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}